<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        table {
    border : 5px solid ;  
    overflow-x : auto;      
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    </style>

</head>
<body class="bg-blue-100">
    <figure class="mx-10 bg-gray-200 rounded-3xl p-8 py-10 my-10">
        <img class="animate-bounce w-32 h-32 rounded-full mx-auto" src="https://avatars.githubusercontent.com/u/71139852" alt="" width="384" height="512">
        </div>
      </figure>
    <div>
        <div class="p-10 card bg-base-200 gride">
            <form action="{{url_for('sql')}}"  method="POST">
            <div class="form-control">
              <label class="label">
                <h1 class="text-green-500 font-extrabold text-3xl" >Enter SQL Command</h1>
              </label> 
              <div class="sm:gride items-start lg:flex">
                <textarea rows="5" placeholder=" Enter SQL Command"name="msg" class="w-full textarea width-text h-40 rounded-xl text-red-500 textarea-ghost">
                    {%if command%}
                        {{command}}
                    {%endif%}
                    {%if not command%}
                        SELECT * FROM Customers;
                    {%endif%}
                </textarea>
                  <div class="gride">
                    <h2 class="text-bold text-black">DATA BASE</h2>
                    <table border="2">
                      <tr>
                        <th>Tables</th>
                        <th>Records</th>
                      </tr>
                      <tr>
                        <td><a class="text-blue-500" href="/Customers">Customers</a></td>
                        <td>33</td>
                      </tr>
                      <tr>
                        <td><a class="text-blue-500" href="/Categories">Categories</a></td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td><a class="text-blue-500" href="/Employees">Employees</a></td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td><a class="text-blue-500" href="/Orders">Orders</a></td>
                        <td>196</td>
                      </tr>
                      
                    </table>
             
                  </div>
              </div>
            </div>
            <button type="submit" class="my-10 place-items-center bg-green-500 hover:bg-green-700 text-white font-bold py-2  px-4 rounded">
                Run Command
              </button>
            </form>
        </div>
    </div>


    <div class="m-10">
        <div class="gride">
            <Label class="label">
                <h1 class="text-green-500 font-extrabold text-5xl" >Result</h1>
            </Label>
            {% if not error %}
            <table>
                {%for i in range(len_of_name)%}
                <th>
                    {{name[i] }}
                </th>
                {%endfor%}
                {%for i in range(0 , len_of_data) %}
                <tr class="bg-emerald-200">
                    {%for j in range(0 , len_of_name) %}
                        <td>
                            {{data[i][j]}}
                        </td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        {%endif%}
        {% if error %}
            <script>
                alert(`Error: {{error}}`)
            </script>
        {%endif%}
        </div>
    </div>
    
</body>
</html>